.navbar {
  height: 100vh;
  color: "white";
  box-shadow: 0 5px 8px var(--color-gray-4);
  background-color: black;
}

.ul {
  list-style-type: none;
  padding-top: 30px;
  padding-bottom: 30px;

  /* background-color: green; */
}

.li {
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

a {
  color: "white";
}
